* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #A10035;
}

body {
  background-color: #2A0944;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  height: fit-content;
  display: flex;
}
.header__name {
  margin: 0 auto;
}
.header__name p {
  font-size: 5rem;
  padding: 0rem;
  font-family: "Bungee Spice", cursive;
  text-shadow: 3px 3px 1px salmon;
  margin: 0;
}
@media (max-width: 768px) {
  .header__name p {
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0;
  }
}
@media (max-width: 480px) {
  .header__name p {
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
  }
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  background-color: #3FA796;
  margin: 0 auto;
  border-radius: 5%;
  border: 10px solid #252525;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (max-width: 768px) {
  .wrapper {
    width: 75vmin;
    height: 80vmin;
  }
}
@media (max-width: 480px) {
  .wrapper {
    width: 85vmin;
    height: 90vmin;
  }
}
.wrapper__game_details {
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}
.wrapper__play_board {
  width: 100%;
  height: 100%;
  background-color: #FEC260;
  display: grid;
  grid-template: repeat(30, 1fr)/repeat(30, 1fr);
}
.wrapper__play_board__food {
  background-color: #A10035;
}
.wrapper__play_board__head {
  background-color: #252525;
}

.loose_banner {
  width: 60vmin;
  height: 40vmin;
  background-color: #3FA796;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0 0 0 0;
  margin: auto;
  border: 3px solid #252525;
}
@media (max-width: 480px) {
  .loose_banner {
    width: 90vmin;
    height: 70vmin;
  }
}
.loose_banner__messages p {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.loose_banner__messages p:nth-child(1) {
  font-weight: 800;
  font-size: 2.2rem;
  text-align: center;
  border-bottom: 1px solid #252525;
  padding: 0.5rem;
  margin: 0;
  text-shadow: 2px 1px 1px #252525;
}
.loose_banner__play_again {
  display: flex;
  justify-content: center;
}
.loose_banner__play_again button {
  width: fit-content;
  padding: 1rem;
  border-radius: 12px;
  background-color: #3FA796;
  border: 1px solid #252525;
  font-size: 1.6rem;
  cursor: pointer;
}
.loose_banner__play_again button:hover {
  background-color: #c7c7c7;
}
.loose_banner__play_again button:active {
  background-color: rgb(100, 100, 100);
}

.inactive {
  display: none;
}

.scale {
  transition: all 1s;
}
.scale:hover {
  transform: scale(1.1);
}

.console {
  width: 80vmin;
  height: fit-content;
  padding: 1rem 0;
  background-color: #c7c7c7;
  border: 6px solid #010101;
  border-radius: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .console {
    width: 85vmin;
  }
}
@media (max-width: 480px) {
  .console {
    width: 95vmin;
  }
}
.console__branch {
  align-self: center;
  margin-top: 1rem;
}
.console__branch p {
  text-align: start;
  margin: 0;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .console__branch p {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .console__branch p {
    font-size: 1rem;
  }
}
.console__controls {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 1rem;
}
.console__controls__up {
  background-color: #252525;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.console__controls__up__shadow {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.console__controls__up__shadow__triangle {
  margin-bottom: 0.2rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #252525;
}
.console__controls__down {
  background-color: #252525;
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.console__controls__down__shadow {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.console__controls__down__shadow__triangle {
  margin-top: 0.2rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #252525;
}
.console__controls__left {
  background-color: #252525;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.console__controls__left__shadow {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.console__controls__left__shadow__triangle {
  margin-right: 0.2rem;
  width: 0;
  height: 0;
  border-right: 1rem solid #252525;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}
.console__controls__right {
  background-color: #252525;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.console__controls__right__shadow {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.console__controls__right__shadow__triangle {
  margin-left: 0.2rem;
  width: 0;
  height: 0;
  border-left: 1rem solid #252525;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}
@media (min-width: 769px) {
  .console__controls {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
