@use '../variables/media-queries' as mq;

.header{
    width: 100%;
    height: fit-content;
    display: flex;

    &__name{
        margin: 0 auto;

        & p{
            font-size: 5rem;
            padding: 0rem;
            font-family: 'Bungee Spice', cursive;
            text-shadow: 3px 3px 1px salmon;
            margin: 0;

            @media (max-width: mq.$tablet){
                font-size: 4rem;
                text-align: center;
                margin: 1rem 0;
            }

            @media (max-width: mq.$mobile){
                font-size: 3rem;
                text-align: center;
                margin: 2rem 0;
            }
        }
    }
}
