@use '../variables/colors' as c;
@use '../variables/font-sizes' as fs;
@use '../variables/media-queries' as mq;

.loose_banner{
    width: 60vmin;
    height: 40vmin;
    background-color: c.$second-color;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    border: 3px solid c.$black;
    
    @media (max-width:mq.$mobile){
        width: 90vmin;
        height: 70vmin;
    }
    
    &__messages{
        p{
            font-weight: 600;
            font-size: fs.$sm;
            text-align: center;
        }
        & p:nth-child(1){
            font-weight: 800;
            font-size: fs.$lg;
            text-align: center;
            border-bottom: 1px solid c.$black;
            padding: 0.5rem;
            margin: 0;
            text-shadow: 2px 1px 1px c.$black;
        }

    }

    &__play_again{
        display: flex;
        justify-content: center;

        button{
            width: fit-content;
            padding: 1rem;
            border-radius: 12px;
            background-color: c.$second-color;
            border: 1px solid c.$black;
            font-size: fs.$md;
            cursor: pointer;

            &:hover{
                background-color: #c7c7c7;
            }

            &:active{
                background-color:rgb(100, 100, 100);
            }
            
        }
    }
}