@use '../variables/colors' as c;
@use '../variables/font-sizes' as fs;
@use '../variables/media-queries' as mq;

.wrapper{
    width: 65vmin;
    height: 70vmin;
    background-color: c.$second-color;
    margin: 0 auto;
    border-radius: 5%;
    border: 10px solid c.$black;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: mq.$mobile){
        width: 90vmin;
        height: 95vmin;
    }
        

    &__game_details{
        font-size: fs.$sm;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        font-weight: 800;


    }

    &__play_board{
        width: 100%;
        height: 100%;
        background-color: c.$third-color;
        display: grid;
        grid-template: repeat(30, 1fr) / repeat(30, 1fr);
        
        
        &__food{
            background-color: c.$text-color;
        }

        &__head{
            background-color: c.$black;
        }
    }
}